@model Psiconnect_01.Models.Atendimento

@{
    ViewData["Title"] = "Detalhes";
}


<div>
    <h4>Detalhes do atendimento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodProfissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodProfissional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProfissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProfissional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sintomas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sintomas)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
    <a class="btn btn-danger" asp-action="Index">Voltar</a>
</div>
