    @model IEnumerable<Psiconnect_01.Models.Atendimento>

@{
    ViewData["Title"] = "Atendimentos";
}

<h3>Atendimento</h3>
<br />
<p>
    <a class="btn btn-primary float-sm-left" asp-action="Create">Novo Atendimento</a>
</p>
<br />
<br />
<div>
       <!--  Barra Pesquisa-->

     @using (Html.BeginForm()){    
         <p>
             CPF Paciente: @Html.TextBox("SearchString") &emsp;   
         <input class="btn-info" type="submit" value="Pesquisar" /></p> 
        } 
    <!--  Barra Pesquisa-->

</div>
 

<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                CPF Paciente:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeProfissional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodProfissional)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sintomas)
            </th>
            -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(item => item.Data))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PacienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProfissional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <!--
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodProfissional)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prescricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sintomas)
                </td>
                -->
                <td>
                    <!-- <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> -->
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Visualizar</a>
                    <!-- <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> -->
                </td>
            </tr>
        }
    </tbody>
</table>
