@model Psiconnect_01.Models.Paciente

@{
    ViewData["Title"] = "Relatorio";
}

<div id="print" class="conteudo">
<h3 class="text-center">Relatório de Atendimentos</h3>
<br />

    <h5 class="text-center">@Model.Nome</h5>

  <div class="bg-light">  
    <table class="table table-striped">
    <thead>
       <tr>
                    <th>
                        Data:
                    </th>
                    <th>
                       Profissional:
                    </th>
                    <th>
                        Sintomas:
                    </th>
                    <th>
                        Descrição:
                    </th>
                    <th>
                        Prescrição:
                    </th>
                </tr>
    </thead>
    <tbody>
                @foreach (var item in Model.Atendimentos.OrderByDescending(c => c.Data)) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeProfissional)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sintomas)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Prescricao)
                            </td>
                        </tr>
                        }
    </tbody>
</table>
</div>
</div>

<div class="float-sm-right">
    <a class="btn btn-info m-3" onclick="cont()">Imprimir</a>
    <a class="btn btn-danger float-left m-3" asp-action="IndexRelatorio">Voltar</a>
      
</div>

      <script>

          
function cont(){
   var conteudo = document.getElementById('print').innerHTML;
   tela_impressao = window.open('about:blank');
   tela_impressao.document.write(conteudo);
   tela_impressao.window.print();
   tela_impressao.window.close();
}

      </script>